@model AutomobileProject.ViewModels.Cars.VisualizeCarDetailsViewModel
@using AutomobileProject.ViewModels.Cars.Enums

<section class="banner banner-secondary" id="top" style="background-image: url(/img/banner-image-1-1920x300.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Edit Car Details</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <section class="featured-places">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div style="cursor:pointer">
                        <img src="@Model.MainImage" alt="" class="img-responsive wc-image; zoom" id="mainImage">
                    </div>

                    <br>
                    <div class="row">
                        @foreach (var image in Model.Images)
                        {
                            <div class="col-sm-4 col-xs-6">
                                <div style="cursor:pointer" class="form-group">
                                    <img onclick="ChangeImage(this.src)" src="@image" alt="" class="img-responsive">
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <script src="~/js/ImageScripts/medium-zoom.min.js"></script>
                <script src="~/js/ImageScripts/ChangeImageScript.js"></script>
                <script src="~/js/ImageScripts/ChangeImageSizeScript.js"></script>

                <div class="col-md-6 col-xs-12">
                    <form href="/Cars/CarEditDetails?id=@Model.Id" method="post" class="form">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Price (current price: <b>@Model.Price</b>)</span>

                                    <input style="color:black" asp-for="Price" class="pull-right" />
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Condition (current condition: <b>@Model.Type</b>)</span>

                                    <select class="pull-right" asp-for="Type" asp-items="@Html.GetEnumSelectList<Condition>()" style="color:black; font-family: Arial; position:relative; padding: 8px 16px;  border: 1px solid groove; cursor: pointer;">
                                    </select>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Make (current condition: <b>@Model.Make</b>)</span>

                                    <select class="pull-right" asp-for="Make" style="font-family: Arial; color:black; position:relative; padding: 8px 16px;  border: 1px solid groove;  cursor: pointer;" name="Make" id="makes">
                                        <option></option>
                                        @foreach (var make in Model.MakeModel.OrderBy(x => x.Make).Select(x => x.Make).Distinct())
                                        {
                                            <option class="form-control" style="color: black" value="@make">@make</option>
                                        }
                                    </select>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left"> Model (current model: <b>@Model.Model</b>)</span>

                                    <select class="pull-right" style="font-family: Arial; color:black; position:relative; padding: 8px 16px;  border: 1px solid groove; cursor: pointer;" id="models">
                                        @foreach (var car in Model.MakeModel.OrderBy(x => x.Model))
                                        {
                                            <option class="form-control" style="color: black" value="@car.Make">@car.Model</option>
                                        }
                                    </select>

                                    <input asp-for="Model" type="hidden" id="Model" name="Model" value="">
                                </div>
                            </li>

                            <!--Script to set the Models to match the chosen Make-->
                            <script src="~/js/MakeModelScript/MakeModelFunctionalityScriptForEditDetails.js"></script>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Year of Producing (current year: <b>@Model.Year</b>)</span>

                                    <input style="color:black" asp-for="Year" class="pull-right" />
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Kilometers (current kilometers: <b>@Model.Kilometers km</b>)</span>

                                    <input style="color:black" asp-for="Kilometers" class="pull-right" />
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Fuel (current fuel type: <b>@Model.FuelType</b>)</span>

                                    <select class="pull-right" asp-for="FuelType" asp-items="@Html.GetEnumSelectList<FuelType>()" style="color:black; font-family: Arial; position:relative; padding: 8px 16px;  border: 1px solid groove; cursor: pointer;">
                                    </select>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Engine size (current engine size: <b>@Model.EngineSize</b>)</span>

                                    <input style="color:black" asp-for="EngineSize" class="pull-right" />
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Power (current power: <b>@Model.HorsePower hp</b>)</span>

                                    <input style="color:black" asp-for="HorsePower" class="pull-right" />
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Gearbox (current gearbox type: <b>@Model.Gearbox</b>)</span>

                                    <select class="pull-right" asp-for="Gearbox" asp-items="@Html.GetEnumSelectList<Gearbox>()" style="color:black; font-family: Arial; position:relative; padding: 8px 16px;  border: 1px solid groove; cursor: pointer;">
                                    </select>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Doors (current doors: <b>@Model.Doors</b>)</span>

                                    <select class="pull-right" asp-for="Doors" style="color:black; font-family: Arial; position:relative; padding: 8px 16px;  border: 1px solid groove; cursor: pointer;">
                                        <option value="2/3">2/3</option>
                                        <option value="4/5">4/5</option>
                                        <option value="6/7">6/7</option>
                                    </select>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Color (current color: <b>@Model.Color</b>)</span>

                                    <input style="color:black" asp-for="Color" class="pull-right" />
                                </div>
                            </li>
                        </ul>

                        <div class="accordions">
                            <ul class="accordion">
                                <li>
                                    <a class="accordion-trigger">Vehicle Description</a>
                                    <div class="accordion-content">
                                        <textarea style="color:black" asp-for="Description" class="form-control"></textarea>
                                    </div>
                                </li>
                                <li>
                                    <a class="accordion-trigger">Contact Details</a>

                                    <div class="accordion-content">

                                        <p>
                                            <span>Name</span>

                                            <br>

                                            <strong>@Model.UserDetails.FullName</strong>

                                        </p>

                                        <p>
                                            <span>Mobile phone</span>

                                            <br>

                                            <strong>
                                                <a href="tel:@Model.UserDetails.PhoneNumber">@Model.UserDetails.PhoneNumber</a>
                                            </strong>
                                        </p>

                                        <p>

                                            <span>Email</span>

                                            <br>

                                            <strong>
                                                <a href="mailto:@Model.UserDetails.EmailAddress">@Model.UserDetails.EmailAddress</a>
                                            </strong>
                                        </p>
                                    </div>
                                </li>
                            </ul> <!-- / accordion -->
                        </div>
                        <div class="form-group">
                            <button style="width:120px; float:right; position:relative; bottom:-15px" id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>