@model ICollection<AutomobileProject.ViewModels.Offer.VisualizeCarViewModel>
@{
    ViewData["Title"] = "Your car offers";
}

<section class="banner banner-secondary" id="top" style="background-image: url('/img/banner-image-1-1920x300.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Your Car Offers</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <partial name="~/Views/Cars/PartialViews/_FiltersPartialView.cshtml" model="new AutomobileProject.ViewModels.Cars.FiltersInputModel()"/>

    <section class="featured-places">

        <partial name="~/Views/SharedPartialViews/_SortingPartialView.cshtml" />

        <div class="container">
            <div class="row">
                @foreach (var car in Model)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div>
                                    <a href="/Cars/CarDetails?id=@car.Id">
                                        <img src="@car.Image" height="360" width="240" style="object-fit: cover" alt="">
                                    </a>
                                </div>
                                <div class="overlay-content">
                                    <strong><i class="fa fa-dashboard"></i> @car.Kilometers</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong><i class="fa fa-cube"></i> @car.EngineSize cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong><i class="fa fa-cog"></i> @car.Gearbox</strong>
                                </div>
                            </div>
                            <div class="down-content">
                                <h4>@car.Title</h4>

                                <br>

                                <p>@car.HorsePower hp  /  @car.FuelType  /  @car.Year  /  @car.Condition</p>

                                <p><span><strong>@car.Price.00 lev</strong></span></p>

                                <div class="text-button">
                                    <a href="/Cars/CarDetails?id=@car.Id">View More</a>
                                </div>
                                <div class="text-button">
                                    <a class="btn-primary" style="color:white" href="/Cars/CarEditDetails?id=@car.Id">Edit Offer</a>
                                </div>
                                <div class="text-button">
                                    <a class="btn-danger" style="color:white" href="/Cars/DeleteCar?id=@car.Id">Delete Offer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
