@model AutomobileProject.ViewModels.ElectricScooters.VisualizeScooterDetailsViewModel

<section class="banner banner-secondary" id="top" style="background-image: url(/img/scooter-banner.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Electric Scooter Details</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <section class="featured-places">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div style="cursor:pointer">
                        <img src="@Model.MainImage" alt="" class="img-responsive wc-image; zoom" id="mainImage">
                    </div>

                    <br>
                    <div class="row">
                        @foreach (var image in Model.Images)
                        {
                            <div class="col-sm-4 col-xs-6">
                                <div style="cursor:pointer" class="form-group">
                                    <img onclick="ChangeImage(this.src)" src="@image" alt="" class="img-responsive">
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <script src="~/js/ImageScripts/medium-zoom.min.js"></script>
                <script src="~/js/ImageScripts/ChangeImageScript.js"></script>
                <script src="~/js/ImageScripts/ChangeImageSizeScript.js"></script>

                <div class="col-md-6 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2><strong class="text-primary">$@Model.Price.00</strong></h2>

                        <br>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Type</span>

                                    <strong class="pull-right">@Model.Condition vehicle</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Make</span>

                                    <strong class="pull-right">@Model.Make</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left"> Model</span>

                                    <strong class="pull-right">@Model.Model</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Year of producing</span>

                                    <strong class="pull-right">@Model.Year</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Kilometers</span>

                                    <strong class="pull-right">@Model.Kilometers km</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Battery</span>

                                    <strong class="pull-right">@Model.Battery</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Motor power</span>

                                    <strong class="pull-right">@Model.MotorPower W</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Max speed achievable</span>

                                    <strong class="pull-right">@Model.MaxSpeedAchievable km/h</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Estimated range per charge</span>

                                    <strong class="pull-right">@Model.TravellingDistance</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Level of Waterproofing</span>

                                    <strong class="pull-right">@Model.WaterproofLevel</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Scooter dimensions</span>

                                    <strong class="pull-right">@Model.ScooterSize</strong>
                                </div>
                            </li>


                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Tire size</span>

                                    <strong class="pull-right">@Model.TiresSize inch</strong>
                                </div>
                            </li>
                        </ul>

                        <div class="accordions">
                            <ul class="accordion">
                                <li>
                                    <a class="accordion-trigger">Vehicle Extras</a>

                                    <div class="accordion-content">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <p>ABS</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Leather seats</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Power Assisted Steering</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Electric heated seats</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>New HU and AU</p>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <p>Xenon headlights</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="accordion-trigger">Vehicle Description</a>
                                    <div class="accordion-content">
                                        <p>@Model.Description</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="accordion-trigger">Contact Details</a>

                                    <div class="accordion-content">

                                        <p>
                                            <span>Name</span>

                                            <br>

                                            <strong>@Model.UserDetails.FullName</strong>

                                        </p>

                                        <p>
                                            <span>Mobile phone</span>

                                            <br>

                                            <strong>
                                                <a href="tel:@Model.UserDetails.PhoneNumber">@Model.UserDetails.PhoneNumber</a>
                                            </strong>
                                        </p>

                                        <p>

                                            <span>Email</span>

                                            <br>

                                            <strong>
                                                <a href="mailto:@Model.UserDetails.EmailAddress">@Model.UserDetails.EmailAddress</a>
                                            </strong>
                                        </p>
                                    </div>
                                </li>
                            </ul> <!-- / accordion -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>